# FastAPI and Server
fastapi==0.141.1
uvicorn[standard]==0.27.0

# Pydantic and Settings Management
pydantic==2.13.4
pydantic-settings==2.15.0
python-dotenv==1.2.2

# Authentication
supertokens-python==0.31.3
passlib[bcrypt]==1.7.4

# Database
sqlalchemy==2.0.25
asyncpg==0.29.0
alembic==1.13.1
motor==3.7.1
beanie==1.24.0

# Utilities
python-multipart==0.0.32
email-validator==2.3.0
tenacity==8.2.3
httpx==0.28.1
pymongo==4.17.0

# Email
fastapi-mail==1.6.5

# AWS SDK
boto3==1.43.68
botocore==1.43.68

# psutil
psutil==6.1.1

# Logging
loguru==0.7.2
